html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  color: #FFF;
  margin-top: 250px;
}
@media (max-width: 1200px) {
  .container{
    margin-top: 80px;
  }
}

.row1{
  flex-direction:column;
  padding: 40px;
}
.row2{
  flex-direction: column;
  padding: 40px;
}
.button{
  font-weight: 400;
  font-size: 35px;
  color: rgb(56, 55, 55);
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #85bfc1d0;
  border: 2px solid #4b71729d;
}

.button:hover{
  cursor: pointer;
  transform: scale(0.98);
  opacity: 0.85;
}

.text{
  font-size: 25px;
  font-weight: 400;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -0.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}